<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="#">الاكاديمية</a>
       
        <div class="collapse navbar-collapse ml-auto" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">المجموعات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">المستخدمين</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الفروع</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الكورسات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">المواد</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الطلاب</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
