<div class="container">
    <div class="main-content ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title text-center ">إضافة طالب</h4>
                        </div>
                        <div class="card-body ">
                            <form>
                                    <div class="mb-3">
                                        <label for="Username" id="Username" class="form-label">  إسم الطالب باللغة العربية </label>
                                        <input type="text" class="form-control" id="Username" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="Username" id="Username" class="form-label">  إسم الطالب باللغة الانجليزية </label>
                                        <input type="text" class="form-control" id="Username" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  الرقم القومى"</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                      </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  البريد الإلكترونى"</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                                      </div>
                               <div class="mb-3">
                                <label class="form-label">الديناية</label>
                                <select class="form-select" id="disabledSelect">
                                    <option>1</option>
                                    <option value="1">One</option>
                                  </select>
                                </div> 
    
                                <div class="mb-3">
                                <label class="form-label">النوع</label>
                                <select class="form-select" id="disabledSelect">
                                    <option>1</option>
                                    <option value="1">One</option>
                                  </select>
                                </div> 
                                
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  تاريخ الميلاد</label>
                                        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  عنوان الطالب</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                      </div>
                                      
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label"> التليفون الارضى </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  التليفون المحمول 1 </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">  التليفون المحمول 2 </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label"> جهة الترشيح </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                                      </div>
                                      <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label"> المؤهل </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="    ">
                                      </div>
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>عام الحصول على المؤهل</option>
                                        <option value="1">One</option>
                                      </select>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label"> العام الدراسى </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="  ">
                                      </div>
                                      <div class="mb-3">
                                        <label class="form-label">الموقف من التجنيد</label>
                                        <select class="form-select" id="disabledSelect">
                                            <option>1</option>
                                            <option value="1">One</option>
                                          </select>
                                        </div> 
                                        
                                        <div class=" col-md-12 mb-3">
                                            <label for="formFile" class="form-label">صورة الطالب الشخصية</label>
                                            <input class="form-control" type="file" id="formFile">
                                          </div>
                                          <div class=" col-md-12 mb-3">
                                            <label for="formFile" class="form-label">صورة بطاقة الرقم القومى</label>
                                            <input class="form-control" type="file" id="formFile">
                                          </div>
                                          <div class=" col-md-12 mb-3">
                                            <label for="formFile" class="form-label">صورة شهادة المؤهل الدراسى</label>
                                            <input class="form-control" type="file" id="formFile">
                                          </div>
                                          <div class="mb-3">
                                            <label class="form-label">اسم الفرع الملتحق فيه الطالب</label>
                                            <select class="form-select" id="disabledSelect">
                                                <option>1</option>
                                                <option value="1">One</option>
                                              </select>
                                            </div> 
                                            
                                     
                                <button raised-button type="submit" class="btn btn-danger m-2 pull-right">إضافة</button>
                                <button raised-button type="submit" class="btn btn-success m-2 pull-right">تراجع</button>
      
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
      </div> 
    
    </div>
    
    
      <!-- tabel -->
    
      <div class="main-content dd">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-dark bg-dark">
                            <h4 class="card-title text-center text-white  ">عرض الطلاب المسجلين</h4>
                        </div>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead class=" text-primary">
                    
                    <th>
                        اسم الطالب
                    </th>
                    <th>
                      الرقم القومى
                  </th>
                  <th>
                    المؤهل  
                </th>
                    <th>
                        التليفون للتواصل
                    </th>
                    <th>
                         الموقف التجنيدى
                    </th>
                    <th>
                        اسم الفرع
                  </th>
                  <th>
                    تفاصيل 
                </th>
                <th>
                   الحالة 
              </th>
                    <th>
                        تعديل
                    </th>
                    <th>
                        حذف
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Mayar
                        </td>
                        <td>
                          29802012341
                        </td>
                        <td>
                            Bac
                        </td>
                        <td>
                            01018661641
                        </td>
                        <td >
                           no 
                        </td>
                        <td >
                           egypt 
                        </td>
                        <td >
                           Details 
                        </td>
                        <td >
                           Active 
                        </td>
                        <td><button mat-raised-button type="submit" class="btn btn-danger ">حذف</button> </td>
                        <td> <button mat-raised-button type="submit" class="btn btn-danger ">تعديل</button>
                       
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="main-content ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title text-center ">إضافة كورس للطالب</h4>
                            </div>
                            <div class="card-body text-right">
                                <form>
                                      <div class="mb-3">
                                        <label for="branchSelect" class="form-label">بحث بالفرع</label>
                                        <select id="branchSelect" class="form-select">
                                          <option selected>ادخل اسم الفرع</option>
                                          <option>1</option>
                                        </select>
                                      </div>
                                      <div class="mb-3">
                                        <label for="nameSelect" class="form-label">بحث بالاسم</label>
                                        <select id="nameSelect" class="form-select">
                                          <option selected>ادخل اسم الطالب</option>
                                          <option>1</option>
                                        </select>
                                      </div>
                                      <div class="mb-3">
                                        <label for="courseSelect" class="form-label">اسم الكورس</label>
                                        <select id="courseSelect" class="form-select">
                                          <option selected>اختر الكورس</option>
                                          <option>1</option>
                                        </select>
                                      </div>
                                      <div class="mb-3">
                                        <label for="time" class="form-label">تاريخ التقديم</label>
                                        <input type="date" class="form-control" id="time"  placeholder="يوم/شهر/سنة" aria-describedby="emailHelp">
                                      </div>
                                      <div class="mb-3">
                                        <label for="disabledSelect" class="form-label">اللغة</label>
                                        <select id="disabledSelect" class="form-select">
                                          <option>1</option>                                    
                                        </select>
                                      </div>
                                    <button class="btn btn-primary ms-2">تراجع</button>
                                    <button class="btn btn-primary ms-2">اضافة</button>
      
                                  </form>
      
                           <!-- table -->
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
          </div> 
         
              <!-- table 1-->
              <div class="main-content mt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-dark bg-dark">
                                    <h4 class="card-title text-center text-white  ">بيانات الطالب</h4>
                                </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                           
                          
                          <th>
                            م
                          </th>
                          <th>
                              اسم الطالب
                          </th>
                          <th>
                          الرقم القومي
                        </th>
                        <th>
                          المؤهل
                      </th>
                      <th>تليفون للتواصلth>
                          <th>
                              الموقف التجنيدي
                          </th>
                          <th>
                              اسم الفرع
                          </th>
                          <th>
                            تفاصيل
                        </th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  1
                              </td>
                              <td>
                                hagar
                              </td>
                              <td>
                                29904058800983
                              </td>
                              <td >
                                 عالي 
                              </td>
                              <td>010123469861</td>
                              <td>مؤجل</td>
                              <td>شبين</td>
                              <td><button mat-raised-button type="submit" class="btn btn-danger ">تفاصيل</button> </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </div>
              </div>
          </div>
                    </div>
                </div>
              </div>
          <!-- table 2-->
          <div class="main-content mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-dark bg-dark">
                                <h4 class="card-title text-center text-white  ">كورسات الطالب</h4>
                            </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class=" text-primary">
                       
                      
                      <th>
                        م
                      </th>
                      <th>
                          اسم الكورس 
                      </th>
                      <th>
                      وصف الكورس
                    </th>
                    <th>
                      عددالساعات 
                  </th>
                  <th>تاريخ التقديم</th>
                      <th>
                          نكلفة الكورس
                      </th>
                      <th>
                          حذف
                      </th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              1
                          </td>
                          <td>
                            Mayar
                          </td>
                          <td>
                              mayar@gmail.com
                          </td>
                          <td>
                            Mayar Ashraf
                          </td>
                          <td >
                             01018661641 
                          </td>
                          <td>30/10/2023</td>
                          <td><button mat-raised-button type="submit" class="btn btn-danger ">حذف</button> </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
          </div>
      </div>
                </div>
            </div>
          </div>