<div class="container">
    <div class="main-content ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title text-center ">إضافة مادة</h4>
                        </div>
                        <div class="card-body text-right">
                            <form>
                                <div class="mb-3">
                                  <label for="subjectname" class="form-label">إسم المادة</label>
                                  <input type="text" class="form-control" id="subjectname" aria-describedby="emailHelp">
                                </div>

                                  <div class="mb-3">
                                    <label for="courcename" class="form-label">الاسم الكورسم المحتوي له</label>
                                    <select id="courcename" class="form-select">
                                      <option></option>
                                      
                                    </select>
                                  </div>
                                <button class="btn btn-primary ms-2">تراجع</button>
                                <button class="btn btn-primary ms-2">اضافة</button>

                              </form>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
      </div> 
</div>

<div class="main-content mt-3">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-dark bg-dark">
                      <h4 class="card-title text-center text-white  ">عرض المواد المسجلة</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class=" text-primary">
                              <th>اسم المادة</th>
                              <th> تعديل</th>
                              <th> حذف</th>
                            </thead>
                            <tbody>
                                <tr>
                                  <td></td>
                                  <td> <button mat-raised-button type="submit" class="btn btn-danger ">تعديل</button></td>
                                  <td><button mat-raised-button type="submit" class="btn btn-danger ">حذف</button> </td>
                        
                                </tr>
                            </tbody>
                         </table>
                      </div>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>