<div class="container">
    <div class="main-content ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title text-center ">إضافة كورس</h4>
                        </div>
                        <div class="card-body text-right">
                            <form>
                                <div class="mb-3">
                                  <label for="coursename" class="form-label">إسم الكورس</label>
                                  <input type="text" class="form-control" id="coursename" aria-describedby="emailHelp">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="coursedescription" class="form-label"> وصف الكورس</label>
                                    <input type="text" class="form-control" id="coursedescription" aria-describedby="emailHelp">
                                  </div>
  
                                  <div class="mb-3">
                                    <label for="coursehour" class="form-label">عددالساعات</label>
                                    <input type="text" class="form-control" id="coursehour" aria-describedby="emailHelp">
                                  </div>
                                  <div class="mb-3">
                                    <label for="coursefees" class="form-label">   نكلفة الكورس </label>
                                    <input type="text" class="form-control" id="coursefees" aria-describedby="emailHelp">
                                  </div>
                                <button class="btn btn-primary ms-2">تراجع</button>
                                <button class="btn btn-danger ms-2">اضافة</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> 
      <!-- table -->
      <div class="main-content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-dark bg-dark">
                            <h4 class="card-title text-center text-white  ">عرض الكورسات المسجلة</h4>
                        </div>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table text-center">
                <thead class=" text-primary">
                    <th>
                      م
                    </th>
                    <th>
                        اسم الكورس 
                    </th>
                    <th>
                    وصف الكورس
                  </th>
                  <th>
                    عددالساعات 
                </th>
                    <th>
                        نكلفة الكورس
                    </th>
                    <th>
                        تعديل
                    </th>
                    <th>
                        حذف
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                          Mayar
                        </td>
                        <td>
                            mayar@gmail.com
                        </td>
                        <td>
                          Mayar Ashraf
                        </td>
                        <td >
                           01018661641 
                        </td>
                        <td><button mat-raised-button type="submit" class="btn btn-danger ">حذف</button> </td>
                        <td> <button mat-raised-button type="submit" class="btn btn-danger ">تعديل</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      </div>
  </div>
            </div>
        </div>
      </div>