<div class="container">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title text-center">كشف حساب مجمع للطالب</h4>
              </div>
              <div class="card-body text-right">
                <form [formGroup]="trainsacteForm" (submit)="formHandler($event)">
                  <div class="mb-3">
                    <label for="branchSelect" class="form-label"
                      >اختر الفرع</label
                    >
                    <select id="branchSelect"  class="form-select" formControlName="branchSelect">
                      <option *ngFor="let branche of branchs"[value]="branche.id">{{branche.name}}</option>
                    </select>
                    <ng-container *ngIf="getbranchSelect.touched" >
                        <div *ngIf="getbranchSelect.hasError('required')" id="subjectName" class="form-text text-danger  w-75">
                          من فضلك ادخل الاسم المادة                                      </div>
                      
                    </ng-container>
                  </div>
                  <div class="mb-3">
                    <label for="studentNameSelected" class="form-label">اختر الاسم</label>
                    <select id="studentNameSelected" class="form-select" formControlName="studentNameSelected">
                      <option selected>ادخل اسم الطالب</option>
                      <option>1</option>
                    </select>
                    <ng-container *ngIf="getstudentNameSelected.touched" >
                        <div *ngIf="getstudentNameSelected.hasError('required')" id="studentNameSelected" class="form-text text-danger  w-75">
                          من فضلك اختر اسم الطالب                                      </div>
                    </ng-container>
                  </div>
                  <div class="mb-3">
                    <label for="courseSelect" class="form-label"
                      >اسم الكورس</label
                    >
                    <select id="courseSelect" class="form-select" formControlName="courseSelect">
                      <option selected>اختر الكورس</option>
                      <option>1</option>
                    </select>
                    <ng-container *ngIf="getcourseSelect.touched" >
                        <div *ngIf="getcourseSelect.hasError('required')" id="courseSelect" class="form-text text-danger  w-75">
                          من فضلك اختر اسم الكورس                                     </div>
                    </ng-container>
                  </div>
                  <div class="mb-3">
                    <label for="Remainingamount" class="form-label">
                      المبلغ المستلم الان</label
                    >
                    <input
                      type="input"
                      class="form-control"
                      id="Remainingamount"
                      formControlName="Remainingamount"
                      aria-describedby="Remainingamount"
                    />
                    <ng-container *ngIf="getRemainingamount.touched" >
                        <div *ngIf="getRemainingamount.hasError('required')" id="Remainingamount" class="form-text text-danger  w-75">
                          من فضلك ادخل الاسم المتبقى                                      </div>
                          <div *ngIf="getRemainingamount.hasError('pattern')" id="Remainingamount" class="form-text text-danger  w-75">
                            من فضلك ادخل المبلغ بالارقام                                     </div>
                        </ng-container>
                  </div>
                  <div class="mb-3">
                    <label for="The amount paid" class="form-label">
                      المبلغ المستلم الان</label
                    >
                    <input
                      type="input"
                      class="form-control"
                      id="Theamountpaid"
                      formControlName="Theamountpaid"
                      aria-describedby="Theamountpaid"
                    />
                    <ng-container *ngIf="getRemainingamount.touched" >
                        <div *ngIf="getTheamountpaid.hasError('required')" id="Theamountpaid" class="form-text text-danger  w-75">
                          من فضلك ادخل الاسم المدفوع                                     </div>
                          <div *ngIf="getTheamountpaid.hasError('pattern')" id="Theamountpaid" class="form-text text-danger  w-75">
                            من فضلك ادخل الاسم المبلغ بالارقام                                      </div>
                        </ng-container>
                  </div>
                  <button class="btn btn-primary ms-2">تراجع</button>
                  <button  [disabled]="!trainsacteForm.valid" class="btn btn-primary ms-2">اضافة</button>
                </form>
  
                <!-- table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="main-content mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-dark bg-dark">
                  <h4 class="card-title text-center text-white">
                    كشف حساب بالكورسات الحاليه
                  </h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table text-center">
                      <thead class="text-primary">
                        <th>م</th>
                        <th>اسم الكورس</th>
                        <th>تاريخ التقديم</th>
                        <th>الحالة</th>
                        <th>التكلفه الاجماليه للكورس</th>
                        <th>المبلغ المدفوع حتى الان</th>
                        <th>المبلغ المتبقى</th>
                        <th>المستخدم القائم بالدفع</th>
                        <th>ملاحظات</th>
                        <th>حذف</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Html</td>
                          <td>2/2/2023</td>
                          <td>مطلوب</td>
                          <td>3000 $</td>
                          <td>2000 $</td>
                          <td>1000 $</td>
                          <td>mayar</td>
                          <td>notes</td>
                          <td>حذف</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>