<div class="container">
    <div class="main-content ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title text-center ">إضافة مستخدم</h4>
                        </div>
                        <div class="card-body text-right">
                            <form>
                                <div class="mb-3">
                                  <label for="Username" class="form-label">إسم المستخدم</label>
                                  <input type="text" class="form-control" id="Username" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label"> كلمة المرور</label>
                                    <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
                                  </div>

                                  <div class="mb-3">
                                    <label for="name" class="form-label">  الاسم كامل</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
                                  </div>
                                  <div class="mb-3">
                                    <label for="email" class="form-label">  البريد الالكتروني</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                  </div>
                                  <div class="mb-3">
                                    <label for="phone" class="form-label"> التليفون المحمول</label>
                                    <input type="text" class="form-control" id="phone" aria-describedby="emailHelp">
                                  </div>
                                  <div class="mb-3">
                                    <label for="disabledSelect" class="form-label">اسم المجموعه</label>
                                    <select id="disabledSelect" class="form-select">
                                      <option></option>
                                      <option></option>
                                      <option></option>

                                    </select>
                                  </div>
                                  <div class="mb-3">
                                    <label for="disabledSelect" class="form-label">الفرع</label>
                                    <select id="disabledSelect" class="form-select">
                                      <option></option>
                                      
                                    </select>
                                  </div>
                                  <div class="mb-3">
                                    <label for="disabledSelect" class="form-label">اللغة</label>
                                    <select id="disabledSelect" class="form-select">
                                      <option>1</option>                                    
                                    </select>
                                  </div>
                                <button class="btn btn-primary ms-2">تراجع</button>
                                <button class="btn btn-primary ms-2">اضافة</button>

                              </form>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
          </div> 
    </div>
      <!-- table -->
      <div class="main-content mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-dark bg-dark">
                            <h4 class="card-title text-center text-white  ">عرض المستخدمين المسجلين</h4>
                        </div>


      <div class="card-body">
        <div class="table-responsive">
            <table class="table text-center">
                <thead class=" text-primary">
                    <th>
                      م
                    </th>
                    <th>
                        اسم المستخدم 
                    </th>
                    <th>
                      البريد الإلكترونى
                  </th>
                  <th>
                    الاسم كامل 
                </th>
                    <th>
                        التليفون المحمول
                    </th>
                    <th>
                         اللغة
                    </th>
                    <th>
                       الفرع
                  </th>
                  <th>
                    اسم المجموعة
                </th>
                <th>
                   الحالة 
              </th>
                    <th>
                        تعديل
                    </th>
                    <th>
                        حذف
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                          Mayar
                        </td>
                        <td>
                            mayar@gmail.com
                        </td>
                        <td>
                          Mayar Ashraf
                        </td>
                        <td >
                           01018661641 
                        </td>
                        <td >
                           arbic 
                        </td>
                        <td >
                           egypt 
                        </td>
                        <td >
                           Html 
                        </td>
                        <td >
                           Active 
                        </td>
                        <td><button mat-raised-button type="submit" class="btn btn-danger ">حذف</button> </td>
                        <td> <button mat-raised-button type="submit" class="btn btn-danger ">تعديل</button>
                        </tr>
                      </tbody>
                   </table>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>