<div class="container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title text-center">إضافة فرع خاص بالاكاديميه</h4>
            </div>
            <div class="card-body text-right">
              <form [formGroup]="branchForm">
                <div class="mb-3">
                  <label for="branchname" class="form-label">إسم الفرع</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="branchName"
                    id="branchname"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="branchsupervisor" class="form-label">
                    اسم مشرف الفرع</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="supervisorName"
                    id="branchsupervisor"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="phone" class="form-label">التليفون المحمول</label>
                  <input
                    type="text"
                    formControlName="supervisorPhoneNumber"
                    class="form-control"
                    id="phone"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="homephone" class="form-label">
                    التليفون الارضي
                  </label>
                  <input
                    type="text"
                    formControlName="supervisorLandlineNumber"
                    class="form-control"
                    id="homephone"
                    aria-describedby="emailHelp"
                  />
                </div>
                <button class="btn btn-primary ms-2" (click)="back()" >تراجع</button>
                <button *ngIf="!isEdit" class="btn btn-danger ms-2" (click)="AddBranch()">اضافة</button>
                <button *ngIf="isEdit" class="btn btn-danger ms-2" (click)="saveUpdate()">حفظ</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- table -->
  <div class="main-content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-dark bg-dark">
              <h4 class="card-title text-center text-white">
                عرض فروع الاكاديميه
              </h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead class="text-primary">
                    <th>م</th>
                    <th>اسم الفرع</th>
                    <th>اسم مشرف الفرع</th>
                    <th>التليفون المحمول</th>
                    <th>التليفون الارضي</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let branch of branches; let i = index">
                      <td>
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ branch.name }}
                      </td>
                      <td>
                        {{ branch.supervisorName }}
                      </td>
                      <td>
                        {{ branch.supervisorPhoneNumber }}
                      </td>
                      <td>
                        {{ branch.supervisorLandlineNumber }}
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          type="submit"
                          class="btn btn-danger"
                          (click)="EditBranch(branch.id)"
                        >
                          تعديل
                        </button>
                      </td>
                      <td>
                        <button
                          mat-raised-button
                          type="submit"
                          (click)="DeleteBranch(branch.id)"
                          class="btn btn-danger"
                        >
                          حذف
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
